<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gio.test.three.autotrack"
    android:versionCode="877"
    android:versionName="3.2">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DUMP permission" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name=".activity.ActionMenuViewActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.ToolBarActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.ViewImpressionActivity" />
        <activity
            android:name=".activity.ui.login.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.ExpandableListSubActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ExpandableListViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ClickTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RecyclerViewImpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddPeopleDialogActivity"
            android:exported="false"
            android:theme="@style/dialog_style" />
        <activity
            android:name=".activity.LambdaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DialogTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.X5WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TabFragmentActivity"
            android:exported="false"
            android:label="@string/title_activity_tab_fragment"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name=".activity.NavFragmentActivity"
            android:exported="false"
            android:label="@string/title_activity_view_pager"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".activity.HideFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NestedFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".AutotrackEntryActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.gio.test.three.Entry" />
            </intent-filter>
        </activity>
    </application>

</manifest>