<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.growingio.example">

    <!-- 必要权限仅网络传输及网络状态 -->
    <!-- https://growingio.github.io/growingio-sdk-docs/docs/android/base/Getting%20Started#%E6%B7%BB%E5%8A%A0url-scheme -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Growingiosdkandroidautotracker">
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name=".InspectActivity"/>
        <activity android:exported="false" android:name=".PageAliasActivity"/>
        <activity android:exported="false" android:name=".PageIgnoreActivity"/>
        <activity android:exported="false" android:name=".ImpActivity"/>
        <activity android:exported="false" android:name=".WebViewActivity"/>
    </application>

</manifest>