name: CI

on:
  push:
    branches: [ master ]

  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11

      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Set NDK path
        run: |
          echo "ndk.dir=$ANDROID_NDK_HOME" >> local.properties

      - name: Before script
        run: |
          chmod +x gradlew
          chmod +x config/checkstyle/checkstyle.sh
          chmod +x gradle/publishAllToMavenLocal.sh

      - name: Run Gradle command
        run: |
          bash ./gradle/publishAllToMavenLocal.sh
          bash ./config/checkstyle/checkstyle.sh
          ./gradlew lint
          ./gradlew assembleDebug

      - name: Run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          profile: Nexus 6
          target: google_apis
          arch: x86
          # emulator-build: 7425822
          script: |
            adb shell logcat -c
            adb shell logcat > ./uiTest.log &
            ./gradlew jacocoTestReport
            ./gradlew :demo:jacocoAllReport

      - name: Upload logcat
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: uiTestLog
          path: ./uiTest.log

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew sonarqube
        continue-on-error: true

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          files: ./demos/demo/build/reports/jacoco/jacocoAllReport/jacocoAllReport.xml

